.aboutUsMap__container{
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
    background: rgb(87,47,44);
    background: linear-gradient(0deg, rgba(87,47,44,1) 9%, rgba(219,86,67,1) 83%);
}

.aboutUsMap__container_title{
    width: 100%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.461);
    margin: 1rem 0;
}

.aboutUsMap__title{
    color: var(--colorText);
    font-size: 1.3rem;
}
.aboutUsMap__title:nth-child(1){
    width: 100%;
    padding: 1rem 0;
    color: rgb(214, 214, 214);
    box-shadow: 2px 2px 10px black;
}
.aboutUsMap__title:nth-child(2){
    background-color: rgba(0, 0, 0, 0.457);
    padding: 1rem 0;
    width: 100%;
    box-shadow: 2px 2px 10px black; 
}
.aboutUsMap__map{
    border-radius: 5px;
    margin:1rem 0 3rem 0 ;
    box-shadow: 2px 2px 10px black; 
}
