.AboutUs{
    width: 100%;
    font-family: var(--montserrat-letter);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs__cont_title{
    width: 100%;
    height: 5rem;
    background: var(--background-grandient);
    display: grid;
    place-items: center;
    user-select: none;
 
}
.aboutUs__cont_title h2{
    
    font-family: 'Lora', serif;
    color: var(--colorText);
    font-size: 2rem;
    cursor: pointer;
    user-select:none ;
}
.AboutUs__title_description{
  
    width: 97%;
    margin-top: 1rem;
    height: 2.5rem;
    color: var(--colorText);
    background: rgb(171,22,22);
    background: linear-gradient(0deg, rgba(171,22,22,1) 15%, rgb(116, 9, 9) 85%);
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 10px black;
    user-select: none;
    transition: ease-in all 0.1s;
}
.AboutUs__title_description:nth-child(3){
    background: rgb(226,80,80);
    background: linear-gradient(0deg, rgb(204, 33, 33) 15%, rgba(171,22,22,1) 70%);
    width: 94%;
}
.AboutUs__title_description:nth-child(4){
    background: rgb(251,119,119);
    background: linear-gradient(0deg, rgb(220, 54, 54) 15%, rgb(204, 33, 33) 70%);
    width: 92%;
}
.AboutUs__title_description > h2{
    margin-left: 20px;
}
.AboutUs__title_description:hover{
    opacity: 0.8;
    scale: 1.01;
}
.AboutUs__title_description img {
    width: 3rem;
}


