.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 0;
}

.contact__cont_title {
    width: 100%;
    height: 5rem;
    background: var(--background-grandient);
    display: grid;
    place-items: center;
 
}

.contact__title{
    font-family: 'Lora', serif;
    color: var(--colorText);
    font-size: 2rem;
}


/*Social */
