.contact__info{
    background: rgb(78,78,78);
    background: linear-gradient(0deg, rgb(99, 60, 60) 43%, rgba(144, 9, 23, 0.978) 90%);
    height: 50vh;
    background-color:transparent ;
    margin: 20px 0 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}
.contact__p{
    font-size: 1.3rem;
   
}
.p_description{
    padding: 10px;
    text-align: center;
    font-family: Helvetica, sans-serif;;
    font-weight: bold;
    color: rgba(236, 244, 251, 0.713);
    font-weight: 500;
    text-shadow: 5px 5px 10px rgb(108, 99, 99);

}
.contact__info_divs{
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    border-bottom: 1px solid black;
}
.contact__info_divs:nth-child(3){
    border: none;
}
.contact__p{
    text-align: center;
}
.icon-info{
    margin-left: .5rem;
   
   width: 30px;
}

.p_number{
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(235, 215, 215);
    text-shadow: 2px 2px 15px black;
}
.p_email{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(254, 216, 216);
    text-shadow: 2px 2px 15px black;
}

@media screen and (min-width:220px) {
    .contact__info{
        width: 95%;
    }
}

@media screen and (min-width:1024px) {
    .contact__info{
        width: 60%;
    }
.contact__info_divs{
    height: calc(100%/3);
}
}