.footer__container{
    width: 100%;
    min-height: 10rem;
    color:rgb(235, 227, 227);
    background-color: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__cont_main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

   
}
.footer__cont_links{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    min-width: 60%;
    margin-left: 5px;

}
.footer__cont_logo{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

}
.footer__logo{
    width: 100%;
}

.footer__links{
    margin: 5px 0;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    
}

.footer__cont-copyright{
    width: 100%;
    text-align: center;
}

